#root {
  min-height: 100%;
}

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input,
select,
textarea {
  margin: 0 0 0.5em 0;
}

input[type=range] {
  padding: 0.4em 0;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  cursor: pointer;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child {
  margin-bottom: 0;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6, p)+:is(h1, h2, h3, h4, h5, h6, p) {
  margin-top: 0.5em;
}


:root {
  --g-green: #34a852;
  --g-yellow: #ffe629;
  --g-orange: #feb200;
  --g-paleblue: #e4f0ff;
  --g-blue: #4285f4;
  --g-blue-dark: #0045b7;
  --g-blue-light: #00a0f3;
  --g-red: #ea4335;
}
